<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Vue - Plantilla vacía</title>
</head>
<body>

  <div id="app">
    <h1>saludo</h1>
    <p>calculo</p>
    <input type="number" v-model="num2">
    <input type="number" v-model="num1">
    <button @click="sumar"> Esta es la suma</button>
    <button @click="restar"> Esta es la resta</button>
    <button @click="multiplicar"> Esta es la multiplicacion</button>
    <button @click="dividir"> Esta es la division</button>
    <h2> El resultado es: {{resultado}}</h2>
  </div>

  <!-- Vue 3 CDN -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

  <script>
    Vue.createApp({
      data() {
        return {
          num1: '',
          num2: '',
          resultado: ''
        }
      },
      methods: {
        sumar() {
          this.resultado = Number(this.num1) + Number(this.num2)
        },
        restar() {
          this.resultado = Number(this.num1) - Number(this.num2)
        },
        multiplicar() {
          this.resultado = Number(this.num1) * Number(this.num2)
        },
        dividir() {
          this.resultado = Number(this.num1) / Number(this.num2)
        }
      }

    }).mount('#app')
  </script>

</body>
</html>
